* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #101010;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dot {
  color: #18BA51;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.hi {
  height: 240px; 
  width: 170px;
}  
.map-container {
  display: flex;
  width: 90vw;
  justify-content: space-around;
}
.location-title {
  display: flex;
  flex-direction: column;
}
.circle {
  border-radius: 50%;
  background-color: black;
  color: green;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  gap: 8px;
}